.wide-header {
  display: flex;
  /* Defines how to distribute the empty space between child elements */
  /*justify-content: space-between;*/
  padding: 20px;
  Background:var(--bc-dark) color
  color: #fff;
  border-style: solid;
  border-width: 3px;  
}